<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="updateShoppingCart()">
        {{cartService.cart.products.length}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products" [detail]="true" [routerLink]="['/products', product.id]">
      <ion-label>
        {{product.name}}
        <p>{{product.category}}</p>
      </ion-label>
      <ion-note [color]="'success'">{{product.priceString}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>