<ion-header>
  <ion-toolbar>
    <ion-title>TestModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input type="text" matInput>
        </mat-form-field>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput>
        </mat-form-field>

      </ion-col>
      <ion-col>

        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select>
            <mat-option *ngFor="let state of stateAbbrevs" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>

      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-content>